#titulo-egipto{
  text-align: center;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.egipto-foto1 {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .egipto-foto1 p{
    height: 100px;
    margin-top: 100px;
  }
  
  .egipto-foto1 img{
    height: 400px;
    width: 540px;
    border-radius:20px;
    margin: 30px;
  }
  
  .egipto-foto2 {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .egipto-foto2 p{
    height: 100px;
    margin-top: 100px;
  }
  
  .egipto-foto2 img{
    height: 400px;
    width: 540px;
    border-radius:20px;
    margin: 30px;
  }
  
  .egipto-foto3 {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    text-align: center;
   
  }
  
  .egipto-foto3 p {
    height: 100px;
    margin-top: 100px;
    margin-right: 10px; 
    justify-content: space-between;
  }
  
  .egipto-foto3 img {
    height: 400px;
    width: 540px;
    border-radius: 20px;
    margin: 20px;
  }